<!-- 
	contenuto del dialog
-->

<div class="row" align="center">
    <div align="center" id="panelSearch" class="panel panel-default col-centered col-lg-8 col-md-10 col-sm-12">
        <div class="panel-body text-center">
            <h1>Author comparison</h1>
        </div>
        <!-- START panel-->
        <div class="panel-body">
            <div class="row text-center">
                <div class="p row-centered">
                    <div class="btn-group col col-centered">
                        <label class="btn btn-primary ng-pristine ng-untouched ng-valid active"
                            ng-model="ngDialogData.comparisonType"
                            btn-radio="'incoming'" ng-change=""><em class="fa fa-sign-in fa-lg"></em> Incoming</label>
                        <label class="btn btn-primary ng-pristine ng-untouched ng-valid" 
                            ng-model="ngDialogData.comparisonType"
                            btn-radio="'outgoing'" ng-change=""><em class="fa fa-sign-out fa-lg"></em> Outgoing</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- grafici -->
<!-- dhVisualization directive-->
<dh-visualization 
    author-uno=ngDialogData.authorUno 
    author-due=ngDialogData.authorDue
    comparison-type=ngDialogData.comparisonType>
</dh-visualization>